#!/bin/bash

export ILASTIK_PATH=

# We assume that this script resides in BUILDEM_DIR.
export BUILDEM_DIR=$(cd `dirname $0`/.. && pwd)
echo "BUILDEM_DIR: $BUILDEM_DIR"
source $BUILDEM_DIR/bin/@SETENV_ILASTIK@.sh

# No longer need this shell as we just wanted to set environment before executing the command.
exec "$@"
