#!/bin/bash

# we assume that this script resides in BUILDEM_DIR/bin
export BUILDEM_DIR=$(cd `dirname $0`/.. && pwd)
source $BUILDEM_DIR/bin/@SETENV_ILASTIK@.sh

$BUILDEM_DIR/bin/python2.7 $ILASTIK_PATH/@LAUNCH_ILASTIK@ "$@"
